@value btn-blue from './colors.css';

.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: calc(100% - 90px);
    background-color: whitesmoke;
    height: 100px;
    overflow-y: auto;
}

.expandBtn {
    width: 24px;
    height: 24px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.close {
    transform: rotate(180deg);
}

.expanded {
    height: 90vh;
}

.exerciseList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.exerciseSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.exerciseName {
    color: btn-blue;
}

.setsTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.setsTable > tr {
    display: flex;
    justify-content: space-between;
}

.setCol {
    width: 20%;
}

.weightCol {
    width: 30%;
}

.repsCol {
    width: 30%;
}

.confirmCol {
    width: 10%;
}

.removeCol {
    width: 10%;
}

.addBtn {
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: btn-blue;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.addExercise {
    background-color: black;
    margin-top: 1rem;
    padding: 1rem;
}

@media (min-width: 768px) {
    .container {
        width: calc(100% - 200px);
    }
}