@value light-blue from './colors.css';

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 16px;
    padding: 4px;

    border-radius: 8px;
    border: none;
    box-sizing: initial;
    background-color: light-blue;
    cursor: pointer;
}

.dots {
    height: inherit;
}